.carousel {
    width: 100%;
}

#gallery-header .carousel-inner {
    z-index: -1;
}

#gallery-header, #gallery-header * {
    height: 100%;
}

#gallery-header .carousel-inner img {
    object-fit: cover;
    height: 100%;
}

#testimonials .carousel-item > * {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

.carousel-inner {
}