@media(max-width: 768px) {
    nav.navbar .nav.justify-content-end a.nav-link {
        padding: .5rem 0;
    }
    nav.navbar .nav.justify-content-end {
        justify-content: inherit !important;
    }
    .col-md { /*TODO increase specificity */
        margin-bottom: 20px;
    }
}